 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
body, html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

.padding--setting {
    padding: 40px 0;
}

header {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
}

.header__content {
    display: flex;
    text-align: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.header__content li {
    display: inline;
}

nav {
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    margin-right: 30px;
}

nav li {
    padding: 0 15px;
    font-size: 15px;
}

nav li span {
    font-weight: bold;
}

.header__content i{
    font-size: 10px;
    vertical-align: middle;
    margin-top: -3px;
}

.btn-gradient {
    padding: 20px 35px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    border: 1px solid transparent;
    color: white;
    background: linear-gradient(to right,#f55f8d 0%,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
    line-height: 1.2;
    transition: all .5s;

}

.btn-gradient:hover {
    background-position: right top;
}

.header__content a {
    text-decoration: none;
    color: black;
    transition: all .01s;
}

.header__content a:hover {
    color: #f55f8d
}

.header__content a span {
    display: inline-block;
    transition: all .5s;
}

.header__content a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }

.carousel {
    background-image: url(../image/pic2.png);
    background-position: top;
    background-size: 100%;
    padding-top: 180px;
}

.carousel__content {
    /* margin: 0 auto;
    width: 80%; */
    display: flex;
    align-items: center;
}

.carousel__container {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel__text {
    width: 60%;
}

.carousel__img {
    width: 40%;
}

.carousel__text .carousel__title > p {
    font-size: 22px;
    color: #f55f8d;
    font-weight: 600;
    margin-bottom: 20px;
}

.carousel__title h2 {
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 1.1;
}

.carousel__article {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 20px;
}

.carousel__article > p {
    font-size: 20px;
    color: grey;
}

.carousel__item p {
    font-size: 20px;
    color: grey;
}
.carousel__article .carousel__item{
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 0;

}

.carousel__article .fa-check {
    background: linear-gradient(to right,#f55f8d 0%,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    font-size: 20px;
    color: white;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px
}   

.img__banner{
    width: 500px;
    margin-left: 10px;
}

.img__banner img {
    width: 100%;
    display: block;
}

.animate__animated.animate__fadeInUp {
    --animate-duration: 2s;
  }
